@{
    ViewBag.Title = "Home Page";
}

<div id="SC-page" class="page-wrapper">
    <section class="intro" id="SC-intro">
        <header role="banner">
            <h1>Suzanne Collins</h1>
            <h2>Welcome!</h2>
        </header>

        <div class="summary" id="SC-summary" role="article">
            <p>Hi! Thanks for visiting my website. Here’s a picture of me with a rat in Central Park. If you’ve read my fantasy series, <i>The Underland Chronicles,</i> you will have a clue as to why I chose this photo. If not, you may want to click around and find out a little more about my books.  Or visit the Scholastic website for cool games and info!</p>

            <img sizes="(min-width: 530px) 33vw, (min-width: 940px) 25vw, 100vw" src="~/Content/images/Central_park_ii-x_small.jpg" srcset="~/Content/images/Central_park_ii-small.jpg 480w, ~/Content/images/Central_park_ii-x_small.jpg 320w" />
            <p><a target="_blank" class="link-link" href="http://www.scholastic.com/underlandchronicles/">Click here to check out Scholastic&#39;s Underland Chronicles website!</a> </p>


        </div>


        <div class="preamble" id="SC-preamble" role="article">
            <h3>COMING MAY 19th, 2020!</h3>
            <div>
                <p>
                    <img sizes="(min-width: 530px) 33vw, (min-width: 940px) 25vw, 100vw" src="~/Content/images/ballad_of_songbirds_and_snakes_cover_3d-x_small.jpg" srcset="~/Content/images/ballad_of_songbirds_and_snakes_cover_3d-small.jpg 480w, ~/Content/images/ballad_of_songbirds_and_snakes_cover_3d-x_small.jpg 320w" />


                </p>
            </div>
        </div>
    </section>

    <div class="main supporting" id="SC-supporting" role="main">
        <div class="explanation" id="SC-explanation" role="article">
            <h3>Underland Chronicles</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 940px) 25vw, 100vw" src="~/Content/images/GTO-small.jpg" />
            <p>"Gregor's luminous, supremely absorbing quest takes place in a strange underground land of giant cockroaches, rideable bats, and violet-eyed humans... Creature depictions are soulful and the plot is riveting... Wonderful."</p>
            <p style="text-align: right;">-<em>-Kirkus reviews</em>, STARRED REVIEW</p>
            <p>&nbsp;</p>
            <p>"Collins does a grand job of world-building, with a fine economy of words&hellip; Unlike Gregor, who cannot wait to leave, readers will likely find [the Underland] to be a fantastically engaging place."</p>
            <p style="text-align: right;"><em>--Publishers Weekly</em>, STARRED REVIEW</p>
            <p>&nbsp;</p>
            <p>"[An} exceptional debut novel, a well-written, fast-moving, action-packed fantasy... [S]ure to be a solid hit with young fantasy fans."</p>
            <p style="text-align: right;">--<em>Booklist</em>, STARRED REVIEW</p>
            <p>&nbsp;</p>
            <p>"A refreshing combination of sensitive characters, innovative devices, and an unusual setting make this an appealing purchase for younger fantasy fans."</p>
            <p style="text-align: right;"><em>--VOYA</em></p>
            <p>&nbsp;</p>
            <p>"This is an engrossing adventure for fantasy fans and for those new to the genre."</p>
            <p style="text-align: right;"><em>--School Library Journal</em></p>
            <p>&nbsp;</p>
            <p>"The fast-paced, detailed narrative features vivid battle scenes (complete with gore), dangerous alliances, some frighteningly close calls, and the sobering death of comrades-in-arms. Cliffhanger chapter endings propel the story forward to its inevitable but nevertheless immensely satisfying conclusion, which, happily for readers, hints at more heart-pounding journeys to the center of the earth."."</p>
            <p style="text-align: right;"><em>--The Horn Book Magazine</em></p>
        </div>

        <div class="participation" id="SC-participation" role="article">
            <h3>YEAR OF THE JUNGLE</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 940px) 25vw, 100vw" src="~/Content/images/YOTJ_Cover-x_small.jpg" srcset="~/Content/images/YOTJ_Cover-small.jpg 480w, ~/Content/images/YOTJ_Cover-x_small.jpg 320w" />
            <p>
                <div align="left">“In this picture book, Collins sensitively examines the impact of war on the very young, using her own family history as a template."</div>
                <div align="right">
                    <br>
                    <i>--Publishers Weekly,</i>STARRED REVIEW<br>
                    <br>
                    <div align="left">“With a notable lack of patriotic rhetoric or clichés about bravery and honor, Collins holds firm to her childhood memories, creating a universal story for any child whose life is disrupted by war. Important and necessary ."</div>
                    <br>
                    <div align="right">
                        <br>
                        <i>--Kirkus Reviews,</i>STARRED REVIEW<br>
                        <br>
                        <div align="left">“Collins’ unflinching first-person account details the fears and disappointments of the situation as a child would experience them. And where more realistic illustrations would feel overwrought and sentimental, Proimos’s flat, cartoony drawings, with their heavy lines and blocky shapes, are sturdy and sweet, reflecting a child’s clear-eyed innocence."</div>
                        <br>
                        <div align="right">
                            <br>
                            <i>--Booklist,</i>STARRED REVIEW<br>
                            <br>
                            <div align="left">“Proimos’ ink-lined, digitally colored illustrations are the pitch-perfect tonal complement to Collins’ narration, with the family portrayed as wide-eyed, childlike cartoons that carry on with daily life in crayon-bright hues, while young Suzy’s angst-filled imaginings take shape in full-spread, full-bleed gray-tone scenes that twist her innocent favorite animals into recurrent nightmarish motifs and symbols of war. With text and illustrations that invite close reading, this will be a powerful title to share with children well beyond picture-book age."</div>
                            <br>
                            <div align="right">
                                <br>
                                <i>--The Bulletin of the Center for Children’s Books,</i>STARRED REVIEW<br>
                                <br>
                                <div align="left">
                                    “Collins offers no moralizing on war, just a vivid reminder of what it's like to be young and innocent in a world that's not. I can see a lot of kids whose parents are in someplace called Afghanistan — or another confusing place — identifying with Suzy."<div align="right">
                                        <br>
                                        <i>--USA Today,</i> 3 1/2  OUT OF 4 STARS
                                    </div>
                                    <br>
                                    <br>
                                    <div align="left">
                                        “Collins deftly balances the fear and freakout of a little girl who learns her dad's in danger with the upbeat, optimistic portrayal of a kid going about the business of being a kid. James Proimos' cartoony illustrations are more reassuring and funny than scary. "<div align="right">
                                            <br>
                                            <i>--Common Sense Media,</i> 5 OUT OF 5 STARS
                                        </div>
                                        <br>
                                        <br>
                                        <div align="left">"A masterful picture book excels at revealing a young child’s experience during the year her father is away at war...James Proimos’s illustrations are stylistically simple but wisely executed, full of sensitivity and power and poignancy, along with occasional moments of whimsy (that cat!)."</div>
                                        <br>
                                        <div align="right">
                                            <br>
                                            <i>--Cooperative Children’s Book Center</i><br>
                                            <br>
                                            <div align="left">“Seasoned illustrator and close friend James Proimos captures childlike fascination and fear when transforming the jungle from a home for friendly animals to a field for frightening war tools. The book also reassures readers that despite any parent's absence, their love for their children will never leave."</div>
                                            <br>
                                            <div align="right">
                                                <br>
                                                <i>--The Hollywood Reporter</i><br>
                                                <br>
                                                <div align="left">“In the last book of the "Hunger Games" trilogy, author Suzanne Collins offered a bleak vision of war that felt personal. Now we know the source."</div>
                                                <br>
                                                <div align="right">
                                                    <br>
                                                    <i>--Newsday</i><br>


                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <br>
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>
            </p>
        </div>



        <div class="requirements" id="SC-requirements" role="article">
            <h3>THE HUNGER GAMES TRILOGY</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 940px) 25vw, 100vw" src="~/Content/images/Hg--jacket-x_small.jpg" srcset="~/Content/images/Hg--jacket-small.jpg 480w, ~/Content/images/Hg--jacket-x_small.jpg 320w">
            <p>
                <div align="left">
                    "At its best the trilogy channels the political passion of “1984,” the memorable violence of “A Clockwork Orange,” the imaginative ambience of “The Chronicles of Narnia” and the detailed inventiveness of “Harry Potter.” The specifics of the dystopian universe, and the fabulous pacing of the complicated plot, give the books their strange, dark charisma."<div align="right">
                        <br>
                        <i>--The New York Times, Katie Roiphe</i><div>
                            <br>
                            <div align="left">
                                "This dystopic-fantasy series, which began in 2008, has had such tremendous crossover appeal that teens and parents may discover themselves vying for -- and talking about -- the family copy of "Mockingjay." And there's much to talk about because this powerful novel pierces cheery complacency like a Katniss-launched arrow. Look skeptically at computer and television images, it suggests, be aware of spin, gaze upon the young faces of the world's soldiers. Children forced to kill children? It's not just in the pages of a novel."<div align="right"><i>--The Washington Post</i></div>
                                <br>
                                <div align="left">
                                    "The indelible conclusion to Suzanne Collins’ <i>Hunger Games</i> trilogy proves once more that the greatest fantasy novels hold an incandescent mirror up to reality."<div align="right">
                                        <br>
                                        <i>--Parade,</i> Parade Picks
                                    </div>
                                    <br>
                                    <div align="left">
                                        "But being the Mockingjay comes with a price as Katniss must come to terms with how much of her own humanity and sanity she can willingly sacrifice for the cause, her friends, and her family. Collins is absolutely ruthless in her depictions of war in all its cruelty, violence, and loss, leaving readers, in turn, repulsed, shocked, grieving and, finally, hopeful for the characters they've grown to empathize with and love. Mockingjay is a fitting end to the series that began with The Hunger Games (2008) and Catching Fire (2009) and will have the same lasting resonance as William Golding's Lord of the Flies and Stephen King's The Stand."<div align="right"><i>--School Library Journal</i></div>
                                        <br>
                                        <div align="left">
                                            "The final installment, the grimmest yet, is a riveting meditation on the costs of war...Clear your schedule before you start: This is a powerful, emotionally exhausting final volume."<div align="right">
                                                <br>
                                                <i>--People Magazine,</i>4 OUT OF 4 STARS
                                            </div>
                                            <br>
                                            <div align="left">
                                                "Fans will be happy to hear that Mockingjay is every bit as complex and imaginative as Hunger Games and Catching Fire. Collins has kicked the brutal violence up a notch in an edge-of-your-seat plot that follows Katniss as she tries to fulfill her role, protect her mother and sister and, in the end, finally choose between her two greatest loves. B+."<div align="right"><i>--Entertainment Weekly</i></div>
                                                <br>
                                                <div align="left">
                                                    "Mockingjay” is without question the most brutal of the trilogy. Nobody emerges unscathed – very bad things happen to everyone from fan favorites down to characters so minor a reader has to pause and think, “Now, who was that again?” before recoiling in horror at their fate. Collins doesn’t take war lightly – her characters debate the morality involved in tactics used to try to overthrow the rotting, immoral government, and they pay a high cost for those tactics. It is also an entirely gripping read. In Katniss, Collins has crafted a heroine so fierce and tenacious that this reader will follow her anywhere."<div align="right"><i>--Christian Science Monitor</i></div>
                                                    <br>
                                                    <div align="left">
                                                        "Much of the action takes place on a battlefield akin to Iraq — where innocent civilians are murdered to further a cause and each side resorts to unsavory tactics that could lead to a terrorist label. More maudlin than the first two books in the series, "Mockingjay" is also the most violent and bloody and, based on the actions and statements of its characters, its most overtly antiwar — though not so much that it distracts from a series conclusion that is nearly as shocking, and certainly every bit as original and thought provoking, as "The Hunger Games."  Wow."<div align="right"><i>--Los Angeles Times</i></div>
                                                        <br>
                                                        <div align="left">
                                                            "Suspenseful... Collins' fans, grown-ups included, will race to the end."<div align="right"><i>--USA Today</i></div>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>
            </p>
        </div>

        <div class="benefits" id="SC-benefits" role="article">
            <h3>Movie tie-in edition now available! </h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 940px) 25vw, 100vw" src="~/Content/images/Mockingjay-Movie-Tie-In-x_small.jpg" srcset="~/Content/images/Mockingjay-Movie-Tie-In-small.jpg 480w, ~/Content/images/Mockingjay-Movie-Tie-In-x_small.jpg 320w">
        </div>

    </div>

</div>