
@{
    ViewBag.Title = "Thanks";

}



            <h3>Thanks for your support.</h3>
            <p>@ViewBag.Participants</p>


            <div>
                @Html.ActionLink("Go Home", "Index", "Home")
            </div>
 