
@{
    ViewBag.Title = "Thanks";

}


<div id="SC-page" class="page-wrapper">

    <section class="intro" id="SC-intro">
        

        <div class="preamble" id="SC-preamble" role="article">
            <h3>Thanks for your support.</h3>
            <p>@ViewBag.Participants</p>


            <div>
                @Html.ActionLink("Go Home", "Index", "Home")
            </div>
        </div>
    </section>
</div>
